doctype html
html
  head
    title Pagina di esempio
    style.
      .div-container {
        display: flex;
        justify-content: space-between;
      }
  body
    h1 Comuni Codici Postali BELLI!!!!
        p 
            button(onclick="Cerca()") Cerca comune
            input(type="text", name="nomeComune")
        p
            button(onclick="function2()") Funzione 2
        p
            button(onclick="function3()") Funzione 3
        p
            button(onclick="function4()") Funzione 4

    .div-container
        div(id="div1" name="div1") 
        div(id="div2" name="div2") 
        div(id="div3" name="div3") 
        div(id="div4" name="div4") 

    script.
        async function Cerca() {
            const comuneName = document.querySelector("input[name='nomeComune']").value;
            const res = await fetch('/codice', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ comuneName }),
            }).then(response => response.json())
                .then(data => {
                    console.log(data);
                    const select = document.querySelector('div[id="div1"]');
                    data.comuni.forEach(comune => {
                        select.textContent += `comune: ${comune.comune} e cap: ${comune.cap}` + '\n';
                    });
                })
                .catch(error => console.error('Errore nel recupero delle categorie:', error));
        }
