doctype html
html
  head
    title Pagina di esempio
    style.
      .div-container {
        display: flex;
        justify-content: space-between;
      }
  body
    h1 Comuni Codici Postali BELLI!!!!
        p 
            input(type="text", name="nomeComune1", placeholder="Inserisci nome comune")
            input(type="text", name="capComune1", placeholder="Inserisci cap comune")
            button(onclick="Cerca()") Cerca comune
        p
            input(type="text", name="nuovoNomeComune1", placeholder="Inserisci nuovo nome comune")
            input(type="text", name="nuovoCapComune1", placeholder="Inserisci nuovo cap comune")
            button(onclick="Aggiungi()") Aggiungi comune
        p
            input(type="text", name="nomeComune2", placeholder="Inserisci nome comune")
            input(type="text", name="capComune2", placeholder="Inserisci cap comune")
            input(type="text", name="nuovoNomeComune2", placeholder="Inserisci nuovo nome comune")
            input(type="text", name="nuovoCapComune2", placeholder="Inserisci nuovo cap comune")
            button(onclick="Modifica()") Modifica comune
        p
            input(type="text", name="nomeComune3", placeholder="Inserisci nome comune")
            input(type="text", name="capComune3", placeholder="Inserisci cap comune")
            button(onclick="Elimina()") Elimina comune

    .div-container
        div(id="div1" name="div1") 

    script.
        function Cerca() {
            const comuneName = document.querySelector("input[name='nomeComune1']").value;
            const capComune = document.querySelector("input[name='capComune1']").value;
            fetch('/cerca', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ comuneName, capComune }),
            }).then(response => response.json())
                .then(data => {
                    console.log(data);
                    const select = document.querySelector('div[id="div1"]');
                    data.comuni.forEach(comune => {
                        select.textContent += `comune: ${comune.comune} e cap: ${comune.cap}` + '\n';
                    });
                })
                .catch(error => console.error('Errore nel recupero delle categorie:', error));
        }

        function Aggiungi() {
            const nuovoNomeComune = document.querySelector("input[name='nuovoNomeComune1']").value;
            const nuovoCapComune = document.querySelector("input[name='nuovoCapComune1']").value;
            fetch('/aggiungi', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ nuovoNomeComune, nuovoCapComune })
            })
        }

        function Modifica() {
            const comuneName = document.querySelector("input[name='nomeComune2']").value;
            const comuneCap = document.querySelector("input[name='capComune2']").value;
            const nuovoNomeComune = document.querySelector("input[name='nuovoNomeComune2']").value;
            const nuovoCapComune = document.querySelector("input[name='nuovoCapComune2']").value;
            fetch('/modifica', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ comuneName, comuneCap, nuovoNomeComune, nuovoCapComune })
            })
        }

        function Elimina() {
            const comuneName = document.querySelector("input[name='nomeComune3']").value;
            const comuneCap = document.querySelector("input[name='capComune3']").value;
            fetch('/elemina', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ comuneName, comuneCap })
            })
        }
